@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url(https://use.fontawesome.com/releases/v5.4.2/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Krub);
@import url(https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#logo_img {
  height: 30px;
  width: 50px;
  margin-right: 50px;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
}

#share_text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.pic-container {
  column-gap: 1.5em;
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
}
.pic-container{
  display: flex;
  flex-wrap: nowrap;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 120px;
  padding-right: 90px;
}
.article-container {
  column-count: 3;
  column-gap: 1.5em;
  width: 33.33%;
  margin: 0 auto;
}

.sideBar {
  margin-top: 150px;
  position: fixed;
  z-index: 1;
}
.sideBarRight {
  margin-top: 150px;
  position:fixed;
  right:180px;
}
.containers {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px !important;
  margin: 0 auto 0 0;
  margin-top: 70px;
}
.container {
  margin: 200px;
  min-height: 100vh;
  align-items: center;
  justify-content: center; 
  flex-wrap: nowrap;
  /* max-width: 500px; */
}
.tab_container {
  margin-top: 2px;
  margin-left: 250px;
}
.row{
  margin-right: 0cm !important;
}

.rightSide {
  padding-left: 2cm !important;
}
.ql-container.ql-snow {
  border: #fff !important;
}

.article-column {
  background: #fff;
  width:30%;
  -webkit-column-break-inside: avoid;
  margin-bottom: 10px;
  margin-left: 20px;
}

@media only screen and (min-width: 1024px) {
  .pic-container {
    column-count: 3;
  }
}

/* On medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .pic-container {
    column-count: 3;
    margin-top: 10px;
  }
}

/* On small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .pic-container {
    column-count: 2;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 647px) and (min-width: 320px) {
  .pic-container {
    column-count: 1;
  }
}

#navbarDropdownMenuLink {
  color: rgba(119, 20, 137, 0.7);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgba(119, 20, 137, 0.7);
  text-decoration: none;
}

/*----------------------------*\
	section
\*----------------------------*/

#top_width{
  margin-top:2px !important;
}
